* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.App {
  border: 1px black solid;
  margin: auto;
  margin-top: 5rem;
  width: 50%;
  min-width: 350px;
  padding: 2rem 2rem 4rem 2rem;
  text-align: center;
}

.addTask {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.addTask > div {
  display: flex;
  justify-content: space-between;
}

.addTask h4 {
  font-size: large;
}

button {
  width: 80px;
  padding: 5px;
  margin-bottom: 1rem;
  color:white;
  background-color: black;
  border: none;
  border-radius: 3px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
input {
  padding: 0.5rem;
}

.add {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.setReminder {
  display: flex;
  justify-content: right;
  gap: 0.7rem;
}

.save {
  width: 100%;
  font-weight: bolder;
  font-size: medium;
}

.task {
  border: 1px black;
  text-align: left;
  padding: 1rem 2rem 1rem 1rem;
  margin-bottom: 0.5rem;
  background: rgb(255, 242, 248);
  border-left: 5px rgb(80, 120, 194, 0) solid;
  background: radial-gradient(
    circle,
    rgba(255, 242, 248, 1) 0%,
    rgba(239, 232, 244, 1) 0%,
    rgba(243, 235, 245, 1) 2%,
    rgba(168, 191, 226, 1) 88%,
    rgba(151, 181, 221, 1) 98%,
    rgba(123, 165, 214, 1) 100%
  );
}

.reminder {
  border-left: 5px black solid;
}

i {
  float: right;
}

.btn-red {
  background-color: red;
}
